/* purgecss start ignore */

.vue-typer .custom.char.typed {
  color: #ff006a
}

.vue-typer .custom.caret {
  background-color: #ff0000
}

.dark .vue-typer .custom.char {
  color: #fdfdfd;
}

.dark .vue-typer .custom.caret {
  background-color: #fdfdfd
}
/* purgecss end ignore */